{% extends "base.html" %}

{% block title %}Locations{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for location in locations %}
        <tr>
          <td>{{ location.name }}</td>
          <td>{{ location.category }}</td>
          <td>
            <form method="post" action="{{ url_for('characters_locations_delete', current_game_id=current_game.guild_id, location_id=location.id) }}">
              <div class="btn-group me-2" role="group" aria-label="Actions">
                <a class="btn btn-outline-secondary" href="{{ url_for('characters_locations_edit_get', current_game_id=current_game.guild_id, location_id=location.id) }}"><i class="bi bi-pencil"></i></a>
                <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-trash"></i></button>
              </div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-primary" href="{{ url_for('characters_locations_new_get', current_game_id=current_game.guild_id) }}">
    Create Location
  </a>
{% endblock %}
