{% extends "base.html" %}

{% macro stress(id, label, hardened, failed) -%}
  <div class="mb-3">
    <span><strong>{{ label }}:</strong></span>
    <div class="input-group ps-5">
      <span class="me-3">Hardened:</span>
      {% for i in range(0, 11) %}
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{ id }}_hardened" id="{{ id }}-hardened-{{ i }}" value="{{ i }}" {% if hardened == i %}checked{% endif %} disabled>
          <label class="form-check-label" for="{{ id }}-hardened-{{ i }}">{{ i }}</label>
        </div>
      {% endfor %}
    </div>
    <div class="input-group ps-5">
      <span class="me-3">Failed:</span>
      {% for i in range(0, 6) %}
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{ id }}_failed" id="{{ id }}-failed-{{ i }}" value="{{ i }}" {% if failed == i %}checked{% endif %} disabled>
          <label class="form-check-label" for="{{ id }}-failed-{{ i }}">{{ i }}</label>
        </div>
      {% endfor %}
    </div>
  </div>
{%- endmacro %}

{% block title %}{{ character.name }}{% endblock %}

{% block head_extra %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Lora&display=swap" rel="stylesheet">

  <style>
  .ua-title {
      color: black;
      font-family: "Amatic SC", sans-serif;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1;
      text-shadow: 0 0 1px black;
  }

  .ua-subtitle {
      color: black;
      font-family: "Amatic SC", sans-serif;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      text-shadow: 0 0 1px black;
  }

  .ua-body {
      font-family: "Architects Daughter", sans-serif;
      font-size: 1.3em;
      white-space: pre-line;
  }

  .ua-line-bottom {
      border-top: solid 2px #e2e2e2;
      opacity: 1;
  }

  .ua-field {
      margin-bottom: 1.25rem;
  }

  .ua-field-inner {
      height: 100%;
      margin-top: .75rem;
  }

  .ua-checkbox {
      background: white;
      border: solid 1px black;
      box-shadow: 2px 1px 0 black;
      display: inline-block;
      height: 0.8em;
      margin: 2px 4px;
      width: .8em;
  }

  .ua-checkbox-checked {
      background: #a2a2a2;
  }

  .umbreal-box {
      margin-bottom: 2rem;
      padding-left: 2.4rem;
      position: relative;
  }

  .umbreal-heading {
      bottom: 0;
      font-family: 'Lora', serif;
      font-size: 1.4rem;
      font-weight: bold;
      right: 100%;
      letter-spacing: 2px;
      line-height: 1;
      margin: 0;
      position: absolute;
      top: 0;
      text-transform: uppercase;
      transform-origin: right top;
      transform: rotate(-90deg);
  }

  .umbreal-trait-big {
      position: relative;
  }

  .umbreal-trait-big-title {
      margin: 1em 0;
      overflow: auto
  }

  .umbreal-trait-big-title:before {
      background-size: 48px 48px;
      content: "";
      left: 0;
      height: 48px;
      position: absolute;
      top: 0;
      width: 48px;
  }

  .umbreal-trait-big-title-text {
      background-color: #2d2727;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      margin-left: 24px;
      margin-top: 8px;
      padding-left: 28px;
      padding-right: 12px;
  }

  .umbreal-lawbreak-title {
      background-color: #2d2727;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      margin: 1em 0 1em 8px;
      padding-left: 16px;
      padding-right: 12px;
  }

  .umbreal-lawbreak-body, .umbreal-trait-big-body {
      margin-left: 12px;
  }

  .umbreal-trait {
      display: inline-block;
      font-weight: bold;
      padding-left: 26px;
      position: relative;
  }

  .umbreal-trait:before {
      background-size: 24px 24px;
      content: "";
      left: 0;
      height: 24px;
      position: absolute;
      top: 0;
      width: 24px;
  }

  .umbreal-d4:before {
      background-image: url("{{ url_for("static", path="images/umbreal/d4.png") }}");
  }

  .umbreal-d6:before {
      background-image: url("{{ url_for("static", path="images/umbreal/d6.png") }}");
  }

  .umbreal-d8:before {
      background-image: url("{{ url_for("static", path="images/umbreal/d8.png") }}");
  }

  .umbreal-d10:before {
      background-image: url("{{ url_for("static", path="images/umbreal/d10.png") }}");
  }

  .umbreal-d12:before {
      background-image: url("{{ url_for("static", path="images/umbreal/d12.png") }}");
  }

  .umbreal-line {
      background-color: black;
      clear: both;
      height: 2px !important;
      margin: 2rem 8rem;
      opacity: 1;
  }
  </style>
{% endblock %}

{% macro ua_field(title, value, title_align="left", body_align="justify", height="100%", has_bottom_line=True) %}
  <div class="ua-field" style="height: {{ height }}">
    <div class="ua-field-inner">
      {% if title %}<div class="ua-title mb-1" style="text-align: {{ title_align }}">{{ title }}</div>{% endif %}
      {% if value %}<div class="ua-body" style="text-align: {{ body_align }}">{{ value }}</div>{% endif %}
    </div>
    {% if has_bottom_line %}<div class="ua-line-bottom"></div>{% endif %}
  </div>
{% endmacro %}

{% macro stat(stat_name, stat_descriptor, stat_value) %}
  <div class="float-end">{{ ua_field("", stat_value|string + "%", "center") }}</div>
  {{ ua_field(stat_name, stat_descriptor, "center", "center", "auto", False) }}
  {% for skill in ua_sheet.skills %}
    {% if skill.ability.value == stat_name %}
      {{ ua_field("", skill.name + " [" + skill.value|string + "%]" + (" [O]" if skill.is_obsession else ""), height="auto") }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro madness(name, hardened, failed) %}
  {{ ua_field(name, "", "center", "center", "auto", False) }}
  <div class="ua-subtitle">Hardened</div>
  <div class="text-center">
    {% for i in range(1, 6) %}
      <div class="ua-checkbox {% if hardened >= i %}ua-checkbox-checked{% endif %}"></div>
    {% endfor %}
    <br />
    {% for i in range(6, 11) %}
      <div class="ua-checkbox {% if hardened >= i %}ua-checkbox-checked{% endif %}"></div>
    {% endfor %}
  </div>
  <div class="ua-subtitle">Failed</div>
  <div class="text-center">
    {% for i in range(1, 6) %}
      <div class="ua-checkbox {% if failed >= i %}ua-checkbox-checked{% endif %}"></div>
    {% endfor %}
  </div>
{% endmacro %}


{% macro umbreal_dice(value) -%}
  {% if value == 1 %}
    umbreal-d4
  {% elif value == 2 %}
    umbreal-d6
  {% elif value == 3 %}
    umbreal-d8
  {% elif value == 4 %}
    umbreal-d10
  {% elif value == 5 %}
    umbreal-d12
  {% endif %}
{%- endmacro %}

{% macro umbreal_trait(name, description, rating) %}
  <div>
    <div class="umbreal-trait {{ umbreal_dice(rating) }}" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ description }}">{{ name }}</div>
  </div>
{% endmacro %}

{% macro big_umbreal_trait(trait) %}
  <div class="umbreal-trait-big">
    <div class="umbreal-trait-big-title {{ umbreal_dice(trait.value) }}">
      <div class="umbreal-trait-big-title-text">{{ trait.name }}</div>
    </div>
    <div class="umbreal-trait-big-body">{{ trait.description | emojis }}</div>
  </div>
{% endmacro %}

{% macro umbreal_lawbreak(lawbreak) %}
  <div class="umbreal-lawbreak">
    <div class="umbreal-lawbreak-title">{{ lawbreak.name }}</div>
    <div class="umbreal-lawbreak-body">{{ lawbreak.description | emojis }}</div>
  </div>
{% endmacro %}

{% block content %}
  {% if character.portrait %}
    <img src="{{ character.portrait }}" class="rounded float-end m-2" style="max-width: 25%" alt="Portrait"/>
  {% endif %}
  {% if character.status %}
    <p class="lead"><em>{{ character.status }}</em></p>
  {% endif %}
  {% if character.appearance %}
    <blockquote class="blockquote">
      <p style="white-space: pre-line">{{ character.appearance }}</p>
    </blockquote>
  {% endif %}
  {% if ua_sheet %}
    <div class="container-fluid" style="clear: both;">
      <hr class="mx-auto mx-1 my-4" style="max-width: 500px;"/>

      <div class="d-flex flex-row align-items-stretch pt-2 mb-3 justify-content-center">
        <div class="col px-3" style="border-right: solid 2px #e2e2e2;">
          {{ ua_field("Personality", ua_sheet.personality, "right") }}
        </div>
        <div class="col px-3">
          <img src="{{ url_for("static", path="images/unknown_armies.png") }}" alt="Unknown Armies" width="150" style="display: block; margin: 0 auto;" />
          {{ ua_field("Your Name", character.name, "center", "center", "4em") }}
          {{ ua_field("School or Archetype", ua_sheet.school if ua_sheet.school else "(None)", "center", "center", "4em") }}
        </div>
        <div class="col px-3" style="border-left: solid 2px #e2e2e2;">
          {{ ua_field("Summary", ua_sheet.summary) }}
        </div>
      </div>

      <div class="flex-row" style="margin-top: -.75rem;">
        <div class="col">
          {{ ua_field("Your Obsession", ua_sheet.obsession, "center", "center", "4em") }}
        </div>
      </div>

      <div class="d-flex flex-row align-items-stretch mb-3 mt-4 justify-content-center">
        <div class="col px-3" style="border-right: solid 2px #e2e2e2;">
          {{ ua_field("Rage Stimulus", ua_sheet.stimulus_rage, "right", "center") }}
        </div>
        <div class="col px-3">
          {{ ua_field("Fear Stimulus", ua_sheet.stimulus_fear + " (linked to " + ua_sheet.stimulus_fear_madness.value + ")", "center", "center") }}
        </div>
        <div class="col px-3" style="border-left: solid 2px #e2e2e2;">
          {{ ua_field("Noble Stimulus", ua_sheet.stimulus_noble, "left", "center") }}
        </div>
      </div>

      <div class="d-flex flex-row align-items-stretch mb-3 mt-4 justify-content-center">
        <div class="col px-3" style="border-right: solid 2px #e2e2e2;">
          {{ stat("Body", ua_sheet.body_descriptor, ua_sheet.body) }}
        </div>
        <div class="col px-3" style="border-right: solid 2px #e2e2e2;">
          {{ stat("Speed", ua_sheet.speed_descriptor, ua_sheet.speed) }}
        </div>
        <div class="col px-3" style="border-right: solid 2px #e2e2e2;">
          {{ stat("Mind", ua_sheet.mind_descriptor, ua_sheet.mind) }}
        </div>
        <div class="col px-3">
          {{ stat("Soul", ua_sheet.soul_descriptor, ua_sheet.soul) }}
        </div>
      </div>

      <hr class="ua-line-bottom" />

      <div class="d-flex flex-row align-items-stretch mb-3 mt-4 justify-content-center">
        <div class="col px-3" style="border-right: solid 2px #e2e2e2;">
          {{ madness("Violence", ua_sheet.violence_hardened, ua_sheet.violence_failed) }}
        </div>
        <div class="col px-3" style="border-right: solid 2px #e2e2e2;">
          {{ madness("The Unnatural", ua_sheet.unnatural_hardened, ua_sheet.unnatural_failed) }}
        </div>
        <div class="col px-3" style="border-right: solid 2px #e2e2e2;">
          {{ madness("Helplessness", ua_sheet.helplessness_hardened, ua_sheet.helplessness_failed) }}
        </div>
        <div class="col px-3" style="border-right: solid 2px #e2e2e2;">
          {{ madness("Isolation", ua_sheet.isolation_hardened, ua_sheet.isolation_failed) }}
        </div>
        <div class="col px-3">
          {{ madness("Self", ua_sheet.self_hardened, ua_sheet.self_failed) }}
        </div>
      </div>
    </div>

    <hr class="ua-line-bottom" />
  {% endif %}

  {% if umbreal_sheet %}
    <div class="container-fluid" style="clear: both;">
      <hr class="mx-auto mx-1 my-4" style="max-width: 500px;"/>

      <div class="container">
        <div class="row">
          <div class="column col-3">
            <div class="umbreal-box clearfix">
              <h2 class="umbreal-heading">Attributes</h2>
              {% for attribute in umbreal_sheet.attributes %}
                {{ umbreal_trait(attribute.name, attribute.description, attribute.value) }}
              {% endfor %}
            </div>
            <div class="umbreal-box clearfix">
              <h2 class="umbreal-heading">Skills</h2>
              {% for skill in umbreal_sheet.skills %}
                {{ umbreal_trait(skill.name, skill.description, skill.value) }}
              {% endfor %}
            </div>
            <div class="umbreal-box clearfix">
              <h2 class="umbreal-heading">Powers</h2>
              {% for power in umbreal_sheet.powers %}
                {{ umbreal_trait(power.name, power.description, power.value) }}
              {% endfor %}
            </div>
          </div>

          <div class="column col-9">
            <div class="umbreal-box">
              <h2 class="umbreal-heading">Distinctions</h2>
              {% for distinction in umbreal_sheet.distinctions %}
                {{ big_umbreal_trait(distinction) }}
              {% endfor %}
            </div>

            <hr class="umbreal-line" />

            <div class="umbreal-box">
              <h2 class="umbreal-heading">Assets</h2>
              {% for asset in umbreal_sheet.assets %}
                {{ big_umbreal_trait(asset) }}
              {% endfor %}
            </div>

            <hr class="umbreal-line" />

            <div class="umbreal-box">
              <h2 class="umbreal-heading">Lawbreaks</h2>
              {% for lawbreak in umbreal_sheet.lawbreaks %}
                {{ umbreal_lawbreak(lawbreak) }}
              {% endfor %}
            </div>

            <hr class="umbreal-line" />

            <div class="umbreal-box">
              <h2 class="umbreal-heading">Milestone</h2>
              <p><strong>1 XP:</strong> {{ umbreal_sheet.xp_1_milestone }}</p>
              <p><strong>3 XP:</strong> {{ umbreal_sheet.xp_3_milestone }}</p>
              <p><strong>10 XP:</strong> {{ umbreal_sheet.xp_10_milestone }}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });
  </script>
{% endblock %}
